# LLM
AI__LLM_API_KEY=your-api-key
AI__LLM_BASE_URL=https://openrouter.ai/api/v1

# Database
DB__HOST=postgres
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__NAME=postgres

# App
APP__LOG_LEVEL=INFO
APP__DEBUG=true

# Security
SECURITY__JWT_SECRET_KEY=your-secret-key
